* {
  margin: 0;
  padding: 0;
}

p{
  font-size: 18px;
}

h1{
  font-size: 32px;
  font-family: 'Roboto', sans-serif;
}

.header {
  background-position: center;
  background-image: url('assets/pressure_washing_pavement_closeup.jpg');
  background-size: cover;
  position: relative;
  min-height: 800px;
  width: 100%;
}

nav {
  max-height: 10px;
  background-color: #326d76;
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.text-box {
  width: 60%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-box h1 {
  font-size: 62px;
}

.text-box p{
  margin: 10px 0 40px;
}

.hero-btn{
  font-size: 20px;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  padding: 12px 34px;
  background-color: #326d76;
  position: relative;
  cursor: pointer;
  border: none;
}

.section-1 .row{
  margin-top: 3%;
  display: flex;
  margin-left: 15%;
  margin-right: 15%;
}

.section-1 {
  border-top: 40px #326d76 solid;
}

.section-1 .row p{
  padding-top: 40px;
}

.section-1 .row img {
  height: 400px;
}

.section-1 .column{
  flex-basis: 60%;
  padding: 20px 12px;
  box-sizing: border-box;
}

.section-1 .column-2{
  margin: auto;
  flex-basis: 25%;
  padding: 20px 12px;
  box-sizing: border-box;
}

hr {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  height: 7px;
  background-color: #326d76;
  border: 0 none;
}

/*Section 2*/
.section-2 .row{
  display:flex;
  justify-content: space-between;
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
}

.section-2 .column{
  flex-basis: 33%;
  padding: 20px 12px;
  box-sizing: border-box;
}

/*Section 3*/
.section-3 {
  padding-top: 40px;
  background-color: #326d76;
}

.section-3 p{
  padding-top: 30px;
}

.section-3 .row{
  display:flex;
  justify-content: space-between;
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
}

.section-3 img{
  padding: 20px;
  height: 350px;
}

.section-3 .column-2{
  flex-basis: 60%;
}
